In [3]:
import pandas as pd

df1 = pd.read_csv('data/dataset1.csv')
df2 = pd.read_csv('data/dataset2.csv')
df4 = pd.read_csv('data/dataset4.csv')
print(df1.shape, df2.shape, df4.shape)
df1.head()
df2.head()
df4.head()

(2224, 11) (18, 1) (61, 23)

,Month,Month of Year,Year,Agency,Total Incoming Calls,Calls Answered,Calls Answered Rate,Total Wait Time (min),Avg Time to Answer (s),Help Point Activations,...,Social Media Responses Sent,Social Media Customer Satisfaction Score,Written Feedback Received,Written Responses Sent,Alerts and Service Notices: Web,Alerts and Service Notices: Twitter,Alerts and Service Notices: Displays,Alerts and Service Notices: Service email / text alerts,Alerts and Service Notices: Elevator / Escalator status email / text alerts,Alerts and Service Notices: Posters
0,05/01/2017,5,2017,NYCT,85566,63081,0.737,411078,391,97630,...,6045,NaN,6935,10749,6534,5928,6627,6824,NaN,NaN
1,06/01/2017,6,2017,NYCT,92766,65591,0.707,486467,445,101871,...,6639,NaN,7311,10447,6603,5756,6779,6442,NaN,NaN
2,07/01/2017,7,2017,NYCT,83214,63437,0.762,383794,363,94177,...,8051,NaN,6413,9252,4917,4185,5921,4752,NaN,NaN
3,08/01/2017,8,2017,NYCT,79682,62359,0.783,359604,346,81590,...,9127,NaN,5632,8756,5305,4398,6406,5110,NaN,515.0
4,09/01/2017,9,2017,NYCT,82530,63524,0.770,371615,351,84171,...,8023,NaN,6036,8692,6311,5160,6371,6152,NaN,510.0